@media (min-width: 1200px) {}
@media (min-width: 991px) and (max-width: 1199px) {
    .navbar {
        background: rgba(0, 0, 0, 0.8);
        padding: 0;
    }
    .navbar-nav {
        float: left;
    }
    .navbar-nav {
        float: right;
    }
    .personal-website {
        padding: 0;
    }
    .img-wrapper img {
        height: 100%;
        width: 100%;
    }
}
@media (min-width: 592px) and (max-width: 991px) {
    #social-media-btn .row .col-md-3 {
        display: inline-block;
        margin: 0px;
        padding: 0;
    }
    #social-media-btn {
        padding: 0px;
    }
    #about-heading h3 {
        margin-top: 90px;
        font-size: 50px;
    }
    .img-wrapper img {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .about-img img {
        padding: 0px;
    }
    #intro-img {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
    #intro-img img {
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        height: 100%;
        width: 100%;
    }
    .portfolio-heading h3 {
        font-size: 50px;
    }
    #footer-menu {
        margin-right: 160px;
    }
    .container-fluid h2 {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 40px;
    }
    .work {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 22px;
    }
    .navbar-nav > li > a {
        font-size: 10px;
    }
    .navbar-header img {
        float: left;
        height: 50px;
        width: 50px;
    }
}
@media (min-width: 400px) and (max-width: 591px) {
    .navbar {
        background: rgba(0, 0, 0, .8);
        padding: 0;
    }
    .navbar-nav {
        float: left;
    }
    .personal-website {
        padding: 0;
    }
    .navbar-header img {
        float: left;
        height: 50px;
        width: 50px;
    }
    #home-content-box-inner .container-fluid .row .work {
        margin-left: 0px;
        padding-left: 0px;
    }
    #home-heading-inner h2 {
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 25px;
    }
    .work {
        padding-left: 5px;
        margin-left: 0px;
        margin-bottom: 90px;
        font-size: 16px;
    }
    #intro-img {
        margin-left: 0px;
    }
    #intro-img img {
        margin-left: 0px;
        height: 100%;
        width: 100%;
        margin-top: 90px;
    }
    #home-content-box h2 {
        margin-bottom: 0px;
        font-size: 25px;
        margin-top: 0px;
    }
    .container-fluid h2 {
        margin-left: 0px;
    }
    #home-heading h1 {
        margin-bottom: 0px;
    }
    #social-media-btn {
        padding: 0px;
    }
    #social-media-btn .row .col-md-3 {
        display: inline-block;
        margin: 0px;
        padding: 0;
    }
    #social-media-btn i {
        font-size: 40px;
    }
    #about-heading h3 {
        margin-top: 50px;
        font-size: 40px;
    }
    .about-img img {
        padding: 0px;
    }
    #social-media-btn {
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .portfolio-heading h3 {
        font-size: 40px;
    }
    .img-wrapper img {
        height: 100%;
        width: 100%;
    }
    #footer-icons .social-btn i {
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }
    #footer-icons .social-btn {
        margin: 0px;
        padding: 0px;
    }
    #footer-menu ul li {
        display: inline-block;
        text-align: center;
    }
}
@media(max-width: 399px) {
    .navbar {
        background: rgba(0, 0, 0, .8);
        padding: 0;
    }
    .navbar-nav {
        float: left;
    }
    .personal-website {
        padding: 0;
    }
    .navbar-header img {
        float: left;
        height: 50px;
        width: 50px;
    }
    #home-content-box-inner .container-fluid .row .work {
        margin-left: 0px;
        padding-left: 0px;
    }
    #home-heading-inner h2 {
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 25px;
        padding-top: 20px;
    }
    .container-fluid h2 {
        margin-left: 0px;
    }
    #intro-img {
        margin-left: 0px;
    }
    #intro-img img {
        margin-left: 0px;
        height: 100%;
        width: 100%;
        margin-top: 90px;
    }
    #social-media-btn {
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #social-media-btn .row .col-md-3 {
        display: inline-block;
        margin: 0px;
        padding: 0;
    }
    #social-media-btn i {
        font-size: 40px;
    }
    .portfolio-heading h3 {
        font-size: 40px;
    }
    .img-wrapper img {
        height: 100%;
        width: 100%;
    }
    #about-heading h3 {
        margin-top: 50px;
        font-size: 40px;
    }
    .about-img img {
        padding: 0px;
    }
    #footer-icons .social-btn {
        margin: 0px;
        padding: 0px;
    }
    #footer-menu ul li {
        display: inline-block;
        text-align: center;
        font-size: 10px
    }
    #footer-menu ul {
        margin-right: 30px;
    }
    #footer-menu {
        margin-top: 0px;
    }
    #footer-menu a {
        font-size: 10px;
    }
}