html,
body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alex Brush', cursive;
    font-family: 'Average', serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Monoton', cursive;
}
#particles-js {
    background: #000000;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
}
#home {
    background: fixed;
    position: absolute;
    width: 100%;
}
#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}
#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}
#home-heading {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 80px;
    font-family: 'Abril Fatface', cursive;
    animation-duration: .5s;
    animation-delay: .1s;
}
#home-heading h2 {
    color: #22BFA4;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Fredoka One', cursive;
}
#home-heading h1 {
    font-size: 80px;
    color: #fff;
    margin-top: 0px;
}
.container-fluid h2 {
    font-size: 30px;
    text-align: center;
    padding: 110px 0px 50px 0px;
    color: #22BFA4;
    margin-left: 50px;
}
.work {
    font-family: 'Fredoka One', cursive;
    color: #fff;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 120px
}
#intro-img {
    margin-left: 60px;
    animation-duration: .5s;
    animation-delay: .1s;
}
ul li {
    list-style: none;
    margin-bottom: 8px;
}
#home-heading-inner {
    padding-left: 20px;
}
.btn-general {
    border-color: #fff;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    border-radius: 0px;
    font-weight: 400px;
    text-transform: uppercase;
}
.btn-general:hover,
.btn-general:focus {
    background-color: #22BFA4;
    border-color: #22BFA4;
    color: #fff;
}
#social-media-btn {
    padding: 0px 150px 0px 150px;
    margin-top: 80px;
}
#social-media-btn i {
    color: #22BFA4;
}
#social-media-btn i:hover,
#social-media-btn i:focus {
    border-color: #fff;
    color: #fff;
}
#about-heading h3 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-weight: 500px;
    color: #fff;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 0px;
}
.about-img img {
    width: 100%;
    height: 100%;
    padding: 0px 200px 0px 200px;
}
.portfolio-heading h3 {
    font-family: 'Fredoka One', cursive;
    font-weight: 500px;
    color: #fff;
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}
.img-wrapper img {
    width: 100%;
    height: 380px;
    transition: transform .5s ease;
}
.img-wrapper {
    margin: 0 15px;
    overflow: scroll;
}
.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}
#footer-icons h4 {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    color: #fff;
}
#footer-icons .social-btn {
    padding: 0px 100px 0px 100px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}
.row no-gutter {
    border: 0px;
}
.social-btn i {
    color: #fff;
}
.social-btn i:hover,
.social-btn i:focus {
    border-color: #000000;
    color: #000000;
}
.row no-gutter {
    margin: 0px;
    padding: 0px;
}
#footer-bottom {
    background-color: rgba(34, 191, 164, 0.8);
    margin-top: 130px;
    padding: 30px 0px;
}
#footer-menu {
    float: right;
    color: #fff;
    font-size: 16px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 200;
    margin-top: 80px;
}
#footer-menu ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}
#footer-menu ul li {
    display: inline-block;
}
#footer-menu a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin: 0 10px;
}
#footer-menu a:hover,
#footer-menu a:focus {
    color: #000000;
}
.navbar-header img {
    height: 60px;
    width: 60px;
    margin-top: 0px;
}
.icon-bar {
    color: #fff;
    background-color: #fff;
}
.navbar-toggle:hover {
    color: #22BFA4;
    background-color: #22BFA4;
    border-color: #22BFA4;
}
.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
}
.website-top-nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 7px 0;
}
.personal-website {
    padding: 0 85px;
}
.navbar-nav {
    float: right;
}
.navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Fredoka One', cursive;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background: #22BFA4;
}
.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    border-radius: 2px;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-collapse {
    max-height: none !important;
}
.website-top-nav ul.navbar-nav > li.active > a {
    background-color: #22BFA4;
}
.btn-back-to-top {
    color: #000000;
    border-color: #fff;
    background-color: #fff;
    float: right;
    margin-top: 100px;
    margin-right: 20px;
}
.btn-back-to-top:hover,
.btn-back-to-top:focus {
    background-color: #22BFA4;
    border-color: #22BFA4;
    color: #fff;
}